* {
  box-sizing: border-box;
}

#wrapper {
  width: 90%; /* Defines a width so auto margin works */
  max-width: 1200px; /* Keeps it from getting too wide */
  margin: 0 auto; /* Centers the wrapper */
  padding: 10px; /* Adds some space inside */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem; /* Equals to 16px */
  font-weight: 100;
  background-color: black;
  color: white;
}

h1 {
  display: inline-block;
  font-weight: normal;
  background-color: yellow;
  color: black;
}

img {
  display: block; /* Makes margin: auto work */
  margin: 0 auto; /* Centers horizontally */
  width: 50%; /* Optional: Set a width */
}

/* change the color to the link */
a {
  display: block; /* Ensures it behaves like a block element */
  /* text-decoration: none; */
  text-decoration: underline;
  color: gold;
  margin-bottom: 50px;
}

/* Hover Pseudo class for my link */
a:hover {
  text-decoration: none;
  color: yellow;
}
